@font-face {
  font-family: 'Untitled Sans';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/UntitledSansWeb-Regular.woff2') format('woff2'),
    url('/fonts/UntitledSansWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Sans';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/UntitledSansWeb-Medium.woff2') format('woff2'),
    url('/fonts/UntitledSansWeb-Medium.woff') format('woff');
}
